<!doctype html>
  <html lang="en">

  <head>
    <title>Contact Form 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



  </head>

  <body>
    <section class="ftco-section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-12">
            <div class="wrapper">
              <div class="row justify-content-center">

                <div class="col-lg-8">
                  <div class="contact-wrap">
                    <h3 class="mb-4 text-center">PLACE YOUR ORDER HERE NOW!</h3>
                    <div id="form-message-warning" class="mb-4 w-100 text-center"></div>
                    <div id="form-message-success" class="mb-4 w-100 text-center">
                      Your message was sent, thank you!
                    </div>
                    <form #ordersendForm="ngForm" (ngSubmit)="onSubmit(ordersendForm)">
                      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="ordersendService.selectOrdersend._id">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" placeholder="Name" class="form-control" name="name" #name="ngModel"
                              [(ngModel)]="ordersendService.selectOrdersend.name" required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="surname">Surname:</label>
                            <input type="email" class="form-control" name="surname" #name="ngModel"
                              [(ngModel)]="ordersendService.selectOrdersend.surname" required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="address">Address:</label>
                            <input type="text" class="form-control" name="address" #name="ngModel"
                              [(ngModel)]="ordersendService.selectOrdersend.address" required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" name="email" #name="ngModel"
                              [(ngModel)]="ordersendService.selectOrdersend.email" required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="phone">Phone Number:</label>
                            <input type="text" class="form-control" name="phone" #name="ngModel"
                              [(ngModel)]="ordersendService.selectOrdersend.phone"  required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="age">Age:</label>
                            <input type="text" class="form-control" name="age" #name="ngModel"
                              [(ngModel)]="ordersendService.selectOrdersend.age" required>
                          </div>
                          <div class="form-group">
                            <label for="image">Upload Your Prescription Here:</label>
                            <input type="file" class="form-control" name="image" #name="ngModel"
                              [(ngModel)]="ordersendService.selectOrdersend.image" required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="submit" value="Place Order Now" [disabled]="!ordersendForm.valid" class="btn btn-primary">
                            <div class="submitting"></div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>

  </body>

  </html>




































  <!-- <br><br><br><br><br><br><form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)"> -->
  <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="postorderService.selectPostorder ._id"> -->
  <!-- <input type="text" name="name" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.name"  required><br>
  <input type="text" name="surname" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.surname"><br>
  <input type="text" name="address" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.address"><br>
  <input type="text" name="email" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.email" required><br>
  <input type="text" name="phone" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.phone" required><br>
  <input type="text" name="age" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.age" required><br> -->
  <!-- <input type="text" name="image" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.image" required><br> -->

  <!-- <button type="submit"  (click)="orderForm">Submit1</button> -->

  <!-- 
</form>


<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <title>Feed</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          

          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <h3 class="heading mb-4">Let's talk about everything!</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas debitis, fugit natus?</p>

              <p><img src="https://cdni.iconscout.com/illustration/premium/thumb/education-feedback-6771602-5639833.png" alt="Image" class="img-fluid"></p>


            </div>
            <div class="col-md-6">
              
              <form class="mb-5" #feedbackForm="ngForm" (ngSubmit)="onSubmit(feedbackForm)">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.name"  required placeholder="Your name">
              
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control"  name="surname" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.surname" placeholder="Email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="address" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.address" placeholder="Subject">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="email" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.email" required placeholder="Write Us here"></textarea>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="phone" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.phone" required placeholder="Write Us here"></textarea>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="age" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.age" required placeholder="Write Us here"></textarea>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="image" #name="ngModel" [(ngModel)]="postorderService.selectPostorder.image" required placeholder="Write Us here"></textarea>
                  </div>
                </div> 
 
                <div class="row">
                  <div class="col-12">
			              <button class="btn btn-primary rounded-0 py-2 px-4"type="submit"  (click)="orderForm">Submit</button>

                  <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <div id="form-message-warning mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
    
  </body>
</html>  -->