<!-- <br><br><br><br><br><form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">
  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="orderService.selectedOrder._id"> -->
  <!-- <input type="text" name="name" #name="ngModel" [(ngModel)]="orderService.selectedOrder.name"  required>
  <input type="text" name="surname" #name="ngModel" [(ngModel)]="orderService.selectedOrder.surname">
  <input type="text" name="address" #name="ngModel" [(ngModel)]="orderService.selectedOrder.address">
  <input type="text" name="email" #name="ngModel" [(ngModel)]="orderService.selectedOrder.email" required>
  <input type="text" name="phone" #name="ngModel" [(ngModel)]="orderService.selectedOrder.phone" required>
  <input type="text" name="age" #name="ngModel" [(ngModel)]="orderService.selectedOrder.age" required>
  



  <form class="mb-5" #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">

        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="orderService.selectedOrder.name"  required placeholder="Your name">
  
        <input type="text" class="form-control"  name="surname" #name="ngModel" [(ngModel)]="orderService.selectedOrder.surname" placeholder="Email">
     
        <input type="text" class="form-control" name="address" #name="ngModel" [(ngModel)]="orderService.selectedOrder.address" placeholder="Subject">
        <input type="text" class="form-control" name="email" #name="ngModel" [(ngModel)]="orderService.selectedOrder.email" placeholder="Subject">
 
        <input type="text" class="form-control" name="phone" #name="ngModel" [(ngModel)]="orderService.selectedOrder.phone" placeholder="Subject">
 
        <input type="text" class="form-control" name="age" #name="ngModel" [(ngModel)]="orderService.selectedOrder.age" placeholder="Subject">
 
 
       
        <button class="btn btn-primary rounded-0 py-2 px-4"type="submit"  (click)="orderForm">Submit</button>

 --> 
